.App {
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa; /* Fondo claro */
  min-height: 100vh;
}

.App h1 {
  margin-bottom: 20px;
  color: #343a40; /* Texto oscuro */
}

.btn-group {
  margin-bottom: 20px;
}

.task-list {
  margin-top: 20px;
}

.completed td {
  text-decoration: line-through;
  color: #6c757d;
}
